body{
    background-color: #3957EA;
}
.logo{
    width: 150px;
    display: flex;
    justify-content: flex-start;
}
.text-white1{
    font-size: 20px;
    font-weight: bold;
    color:black;  
}

.menu{
    z-index: 10;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.banner{
    background-image: url("../imagenes/bienvenida.png");
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
}
.sesion-2{
    background-image: url("../imagenes/blanco.png");
}
h1{
    font-family: 'Shadows Into Light', cursive;
}
h3{
    font-family: 'Staatliches';
}
.fondo h1{
    font-size: 50px;
    font-weight: 300;
}
.fondo h3{
    font-size: 100px;
}
.sesion-3{
    background-image: url("../imagenes/abbajo.png");
    background-size: cover;
    height: 750px;
    width: 100%;
}
.descripcion h1,
.descripcion h3{
    font-size: 50px;
    font-weight: 300;
}
.descripcion h3{
    font-size: 30px;
}
.sesion-3 p{
    font-size: 25px;
}
.color-text{
    color: white;
}
.text-size{
    font-size: 20px;
}
.sesion-4{
    margin: 50px;
}
.sesion-5{
    background-image: url("../imagenes/stock-photo-top-view-delicious-tacos-ingredients.jpg");
    background-size: cover;
    height: 450px;
    width: 100%;
    background-attachment: fixed;
}
.sesion-5, p{
    font-size: 20px;
    margin: 30px;
}
.tenedor{
    height: 80px;
    width: 80px;
}
.chili{
    height: 80px;
    width: 80px;
}
.rama{
    height: 80px;
    width: 80px;
}
.queso{
    height: 80px;
    width: 80px;
}